SELECT t.id, t.title, t.status, w.name as workspace_name, t.\
workspaceId\, t.\isArchived\ FROM \Task\ t JOIN \Workspace\ w ON t.\workspaceId\ = w.id WHERE t.title ILIKE '%Smile%' OR t.\clientId\ IN (SELECT id FROM \Client\ WHERE name ILIKE '%Smile%');
